<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.diseasedetector">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/doctor"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/security_config"
        android:roundIcon="@drawable/doctor"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.PatientRecordDetailActivity"
            android:theme="@style/HyperTheme"></activity>
        <activity
            android:name=".activities.AddPatientActivity"
            android:theme="@style/HyperTheme" />
        <activity
            android:name=".activities.CheckUpDetailActivity"
            android:theme="@style/HyperTheme" />
        <activity
            android:name=".activities.HypertensiveActivity"
            android:theme="@style/HyperTheme" />
        <activity
            android:name=".activities.LiverDiseaseActivity"
            android:theme="@style/LiverTheme" />
        <activity
            android:name=".activities.BreastCancerActivity"
            android:theme="@style/BCTheme" />
        <activity
            android:name=".activities.CardivascularActivity"
            android:theme="@style/CardioTheme" />
        <activity
            android:name=".activities.DiabetesActivity"
            android:theme="@style/DiabetesTheme" />
        <activity
            android:name=".activities.ChronicKidneyActivity"
            android:theme="@style/KidneyTheme" />
        <activity
            android:name=".activities.HeartAttackActivity"
            android:theme="@style/HATheme" />
        <activity
            android:name=".activities.MainActivity"
             android:screenOrientation="portrait"/>
        <activity
            android:name=".activities.SplashScreen"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>